.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sider {
  border-right: 1px solid rgba(0, 0,0, 0.1);
  padding: 20px;
}

.content {
  display: grid;
  grid-template-rows: 1fr 150px;
}

.input {
  border-top: 1px solid rgba(0, 0,0, 0.1);
  padding: 35px 30px;

}

.input > form {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.username {
  font-size: 1rem;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: calc(100vh - 150px);
}

button {
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #25a244;
  color: white;
  border-radius: 3px;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 60px);
  box-sizing: border-box;
  margin: 5px 30px;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.message-content {
  display: flex;
  align-items: center;

}

.author-name {
  margin: 2px;
  font-size: 0.8rem;
  color: rgba(0,0,0, 0.7);
}

.message-text {
  margin: 2px;
}

.simplebar-content {
  display: flex;
  flex-direction: column-reverse;
}